*{


    margin: 0;
    padding: 0;
}

.heading1{

    color: brown;
    background-color: blue;
    margin: 100px;
    padding: 100px;
}
.heading2{
    color: black;
    background-color: aliceblue;
    margin: 10px 5px ;
    padding: 50px;
}